# 1. In the below elements which of them are values or an expression?

eg:- values can be integer or string and expressions will be mathematical operators.<br>

Answer: <br>

\* ------------- expression <br>
'hello' ------- Value <br>
-87.8 --------- Value <br>
\- ------------- expression <br>
/  ------------ expression <br>
\+ ------------- expression <br>
6 ------------- Value <br>

# 2. What is the difference between string and variable?

Answer:
String is a sequence of characters or a single character.In python strings are represented in between single or double quotation marks. eg: 'name', "a", "full stack data science"

Variable is a memory location reserved to store values. A value can be of any datatype like int, float , bool, string, list, tuple, dict..etc.

Difference between string and variable is that variable is a container( memory location) in which values can be stored such as string.

# 3. Describe three different data types.

Answer:
3 basic different data types are as follows:
 1. Numeric: Numeric data type represent numbers such integers,complex number..etc. These can be again divided into 3 types:
         a. int - integers eg: 1,2,10
         b. float - numbers with decimals eg: 1.2, 3.456
         c. comlex - complex numbers with real and imaginary parts eg: 1+2j
             j represents imaginary part in python
 
 2. String: String represents single or group of characters. str is the data type in python which represents this.
             eg: 'full', "full stack data science", 'd'
 
 3. Boolean: Boolean is used to represent either True or False only. In Python, bool is the datatype used for this.
             eg: True, False

# 4. What is an expression made up of? What do all expressions do?

Answer:
Expressions are made up of operators and operands.
 1. Operands can be of any data type( int,str,bool).
 2. There are various operators such as:
             a. Airthmetic operators
             b. logical operators
             c. comparison operators
             d. bitwise operators
    if there are more than one operators, then precendence is followed to evaluate the expression.
    
    Any expression is interpreted to give another value as output.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer:
Assignment statements assigns a value to a variable. The interpreter stores the value in the memory allocated to the variable when a statement is executed.

eg: spam=10 .... It just assigns value 10 to variable named 'spam' and stores the value in memory reserved to variable.

expressions are combination of operators and operands. When executed interpreter evaluates the expression and gives the value as output.

eg: 2+10 .... It is an expression when executed, 2 is added to 10 and prints 12 as output(new value)

# 6. After running the following code, what does the variable bacon contain?

bacon = 22 <br>
bacon + 1

Answer: 

when above code is executed, variable bacon contains 22, since we just executed 'bacon + 1' expression but we never assigned it to bacon variable

In [2]:
bacon = 22
bacon + 1
bacon

22

# 7. What should the values of the following two terms be?

'spam' + 'spamspam'<br>
 'spam' * 3

Answer:
1. 'spam' + 'spamspam' gives 'spamspamspam'
2. 'spam' * 3 gives 'spamspamspam'

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

Answer:
eggs is a valid variable name where as 200 is invalid because variable names in python should not start with numbers.

The following are the variable naming rules to be followed in python:

    1. A variable name should start with a character or underscore character.
    2. A variable name cannot start with numbers.
    3. A variable name can only contain alpha numeric characters and underscore character
    4. Variable names are cse sensitive.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer:

    a. int() is the function used to get integer version of a value.
    b. float() is the function used to get floation-point number version of a value
    c. str() is the function used to get string version of a value

In [7]:
# suppose a=10.23
a = 10.23
int(a)

10

In [8]:
str(a)

'10.23'

In [9]:
# suppose a=10
a = 10
float(a)

10.0

# 10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

Answer:

String concatenation can only done between strings. but 99 is an integer value because of which it will not allow the above expression to be executed

We can convert 99 to string either by using str() function or enclosing 99 between quotation marks to fix this issue

In [10]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [11]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [13]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'